[Unit]
Description=%j #%i Lobby Timer


[Install]
WantedBy=multi-user.target


[Timer]
# Timer preferred over Restart= in service unit to support graceful scale down.
OnUnitInactiveSec=3s
OnActiveSec=0s
