[Unit]
Description=%j #%i Lobby Service
AssertPathExists=/opt/snap-gs/%j/%i
# Deny if 'down' exists. Allow if 'stop' is missing or 'up' exists.
ConditionPathExists=!/opt/snap-gs/%j/%i/spec/down
ConditionPathExists=|!/opt/snap-gs/%j/%i/spec/stop
ConditionPathExists=|/opt/snap-gs/%j/%i/spec/up
After=network-online.target


[Service]
# Context/Defaults.
Type=exec
User=snap-gs
Group=snap-gs
WorkingDirectory=/opt/snap-gs/%j/%i
EnvironmentFile=-/opt/snap-gs/%j/%i/env
Environment=HOME=/opt/snap-gs/%j/%i
Environment=SNAPGS_CPUQUOTA_IDLE=10
Environment=SNAPGS_CPUQUOTA_BUSY=100
Environment=SNAPGS_LOBBY_LISTEN=0.0.0.0:0
Environment=SNAPGS_LOBBY_SESSION=%N
Environment=SNAPGS_LOBBY_PASSWORD=%N
Environment=SNAPGS_LOBBY_SPECDIR=spec
Environment=SNAPGS_LOBBY_STATDIR=stat
Environment=SNAPGS_LOBBY_LOGDIR=logs
Environment=SNAPGS_LOBBY_LOGSTATE=false
Environment=SNAPGS_LOBBY_LOGMATCH=false
Environment=SNAPGS_LOBBY_LOGCLEAN=false
Environment=SNAPGS_LOBBY_ADMINTIMEOUT=15m
Environment=SNAPGS_LOBBY_TIMEOUT=15h
Environment=SNAPGS_LOBBY_DEBUG=true
Environment=SteamAppId=1948990
ExecStartPre=/usr/bin/rm -f /opt/snap-gs/%j/%i/stat/idle
ExecStartPre=/usr/bin/mkdir -p ${HOME}/.local/share/Steam/.steam/SteamApps/common
ExecStartPre=/usr/bin/mkdir -p ${HOME}/.local/share/Steam/.steam/appcache
ExecStartPre=/usr/bin/mkdir -p ${HOME}/.local/share/Steam/.steam/config
ExecStartPre=/usr/bin/mkdir -p ${HOME}/.local/share/Steam/.steam/logs
ExecStartPre=/usr/bin/mkdir -p ${HOME}/.steam
ExecStartPre=/usr/bin/ln -s -f -T ${HOME}/.local/share/Steam ${HOME}/.steam/root
ExecStartPre=/usr/bin/ln -s -f -T ${HOME}/.local/share/Steam ${HOME}/.steam/steam
ExecStartPre=/usr/games/steamcmd +login\sanonymous +app_update\s${SteamAppId}\svalidate +quit
ExecStartPre=-/usr/bin/cp -a /opt/snap-gs/%j/snap-gs-preload.so /opt/snap-gs/%j/%i/snap-gs-preload.so.lock
ExecStartPre=-/usr/bin/mv /opt/snap-gs/%j/%i/snap-gs-preload.so.lock /opt/snap-gs/%j/%i/snap-gs-preload.so
ExecStartPre=/usr/bin/cp -a /opt/snap-gs/%j/snap-gs /opt/snap-gs/%j/%i/snap-gs.lock
ExecStartPre=/usr/bin/mv /opt/snap-gs/%j/%i/snap-gs.lock /opt/snap-gs/%j/%i/snap-gs
ExecStart=/opt/snap-gs/%j/%i/snap-gs lobby \
  --listen=${SNAPGS_LOBBY_LISTEN} \
  --session=${SNAPGS_LOBBY_SESSION} \
  --password=${SNAPGS_LOBBY_PASSWORD} \
  --specdir=${SNAPGS_LOBBY_SPECDIR} \
  --statdir=${SNAPGS_LOBBY_STATDIR} \
  --logdir=${SNAPGS_LOBBY_LOGDIR} \
  --logstate=${SNAPGS_LOBBY_LOGSTATE} \
  --logmatch=${SNAPGS_LOBBY_LOGMATCH} \
  --logclean=${SNAPGS_LOBBY_LOGCLEAN} \
  --admintimeout=${SNAPGS_LOBBY_ADMINTIMEOUT} \
  --timeout=${SNAPGS_LOBBY_TIMEOUT} \
  --debug=${SNAPGS_LOBBY_DEBUG}

# Latency/Availability.
CPUQuotaPeriodSec=1ms
CPUQuota=100%
Nice=-3

# Isolation/Security.
BindPaths=/opt/snap-gs/%j/%i
RemoveIPC=true
PrivateTmp=true
PrivateDevices=true
ProtectSystem=strict
ProtectHostname=true
ProtectControlGroups=true
ProtectKernelTunables=true
CapabilityBoundingSet=
